/* 
.Main{
    display: flex;
    background-color: #03A696;
    height: 100vh;
}
.Game{
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    height: 100vh;
    background-color: #03A696;
    padding: 1%;
}

.Canvas{
    box-sizing:border-box;
    width: 70%;
    height: 100%;
    background-color: whitesmoke;
    margin-right: 1%;
    overflow-wrap: break-word;
}
.SideBar{
    display: flex;
    flex-direction: column;
    box-sizing:border-box;
    width: 30%;
    height: 100%;
}
.Chat{
    display: flex;
    flex-direction: column;
    box-sizing:border-box;
    background-color: #025159;
    height: 60%;
    margin-bottom: 3%;
}
.Ranking{
    box-sizing:border-box;
    background-color: #038C8C;
    height: 40%;
}
.Chat .messages{
    display: flex;
    height: 93%;
    width: 100%;
    padding: 1px;
    justify-content: flex-end;
}
.Chat .messages ul{
    list-style-type: none;
    padding: 0;
}
.Chat .messages li{
    display: flex;
    justify-content: flex-end;

}
.Chat .messages ul div{
    overflow-wrap: break-word;

}
.Chat .ChatFormDiv{
    box-sizing:border-box;
    align-self: flex-end;
    display: flex;
    width: 100%;
    height: 7%;
    padding: 0;
    margin: 0;
}
.Chat .ChatFormDiv .ChatForm{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.btnChat{
    box-sizing:border-box;
    background-color: #0997a7;
    border: 0;
    width: 10%;
    height: 100%;
    justify-self: flex-end;
    overflow: hidden;
}
.btnChat:hover{
    background-color: #087480
}
.btnChat:active{
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.inputChat{
    width: 90%;
    height: 100%;
    border: 0;
}
.Message{
    display: flex;
    background-color: antiquewhite;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}
.First{
    display: flex;
    height: fit-content;
    width: 100vw;
    justify-content: center;
    
}
.First .Forms{
    align-self: center;
    background-color: #8cd9d9;
    padding: 2%;
    border-radius: 10px;
    width: 20vw;
    box-sizing: border-box;
}
.Login{
    padding-bottom: 5%;
    margin-bottom: 5%;
    border-bottom: solid 1px black;
}
body,html {
  margin: 0;
  padding: 0;
}
 */
